*{
    box-sizing: border-box;
    font-family: sans-serif;
    background: #F6C8C9
}

.wrapper{
    
  
    width: auto; 
    height:100vh;
}

.nav{
    
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 0;
    font-size: 30px;
    font-weight: bold;
    border-bottom: rgb(204, 49, 80) 2px solid;
    color: rgb(204, 49, 80)
}

.nav a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(204, 49, 80);


}

.logo{
    height: 60px;
    padding: 0 0 5px;
    margin-bottom: 10px; 
}

.logo img{
   
    height: 100%;
    width: auto;
}

.hamburger{
    display: flex; 
    padding: 5px 0 0 0;
    
}

.navLinks{
    padding: 0 10px;
}


.border{
  
    border: solid 4px rgb(204, 49, 80);
    height: 700px;
    width: 550px;
    margin: 5% 0 5% 5%;
}

.img{
    position: relative;
}

.img img{
    transform: rotate(90deg);
   width: 600px;
   height: 440px;
   position: absolute;
   top: 125px;
   right: -5.7%;
}
.flexWrapper{
    display: flex;
}

.workPortfolio img{
    margin-top: 5%;
    background: #F6C8C9;
    height: 450px;
    width: 800px;
}

.description{
    margin-top: 5%;
    font-size: 30px;
    margin-left: 4%;
    color: rgb(204, 49, 80);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.name{
    margin-top: 20%;
}
