*{
   
    font-family: sans-serif;
    background: #F6C8C9
}

.wrapper{
    width: auto; 
    height:100vh;
}

.nav{
    
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 0 0 ;
    font-size: 60px;
    font-weight: bold;
    border-bottom: rgb(204, 49, 80) 4px solid;
    color: rgb(204, 49, 80);
    width: 100%;
}

.nav a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(204, 49, 80);


}

.logo{
    height: 100px;
    padding: 0 0 5px;
    margin-bottom: 10px; 
}

.logo img{
   
    height: 100%;
    width: auto;
}

.hamburger{
    display: flex; 
    padding: 5px 0 0 0;
    
}

.navLinks{
    padding: 0 10px;
}


.border{
  
    border: solid 4px rgb(204, 49, 80);
    height: 1380px;
    width: 1120px;
    margin: 5% 0 5% 5%;
}

.img{
    position: relative;
}

.img img{
    transform: rotate(90deg);
   width: 1200px;
   height: 950px;
   position: absolute;
   top: 210px;
   right: -3.7%;
}
.flexWrapper{
    display: flex;
}

.workPortfolio img{
    margin-top: 5%;
    background: #F6C8C9;
    height: 900px;
    width: 1600px;
}

.description{
    margin-top: 5%;
    font-size: 60px;
    margin-left: 4%;
    color: rgb(204, 49, 80);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.name{
    margin-top: 20%;
}


@media (min-width: 1301px) and (max-width: 1900px) {
    .border{
        height: 900px;
        width: 700px;
    }
    
    .img img{
       width: 800px;
       height: 600px;
       position: absolute;
       top: 150px;
       right: -6.7%;
    }
    .workPortfolio img{
        margin-top: 7%;
        height: 500px;
        width: 980px;
    }
    .description{
        font-size: 40px;
    }

}

@media (min-width: 1001px) and (max-width: 1300px) {
    .nav{
        font-size: 20px;
        
    }
    .logo{
        height: 50px;
    }
    .social-border{
        width: 1000px;
    }

    .social-links{
        flex-wrap: wrap;
    }
    .social-links a{
        font-size: 60px;
    }
    .border{
        height: 500px;
        width: 410px;
    }
    .img img{
    
       width: 450px;
       height: 340px;
       position: absolute;
       top: 80px;
       right: -5.1%;
    }
    .workPortfolio img{
        margin-top: 7%;
        height: 300px;
        width: 580px;
    }
    .name{
        margin-top: 15%;
    }
    .description{
        font-size: 26px;
    }
}

@media (max-width: 1000px) {
    .nav{
        font-size: 20px;
        
    }
    .logo{
        height: 40px;
    }
    .social-border{
        width: 600px;
        height: 900px;
        margin-top: 48px;
        padding: 20px;
    }

    .social-links{
        flex-wrap: wrap;
    }
    .social-links a{
        font-size: 60px;
    }
    .social-links div{
        padding: 30px 30px;
        font-size: 28px;
        display: flex;
        flex-direction: column;
        
    }
    .flexWrapper{
        display: flex;
        flex-direction: column;
    }
    .border{
        margin-left: 20%;
        height: 550px;
        width: 400px;
    }
    .img img{
        
       width: 450px;
       height: 340px;
       position: absolute;
       top: 105px;
       right: -5.7%;
    }
    .workPortfolio img{
        margin-left: 10%;
        margin-top: 1%;
        height: 360px;
        width: 600px;
    }
    .name{
        margin-top: 0%;
        margin-left: 23%;
    }
    .small{
        margin-left: 15%;
        margin-top: 3%;

    }
    .description{
        font-size: 26px;
    }


}