* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  background: #f7d1d1;
  margin: 0;
}

@font-face {
  font-family: 'Marquette';
  src: url(./fonts/Marquette.otf);
}

@font-face {
  font-family: 'Sallina';
  src: url(./fonts/CaviarDreams_Italic.ttf);
}

@font-face{
  font-family: 'CaviarDreams';
  src: url(./fonts/CaviarDreams.ttf)
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border-bottom: 0.5px solid rgba(235, 77, 77, 0.7);
  width: 95%;
}

.logo img {
  margin-top: 5px;
  height: 30px;
}

nav {
  padding-top: 5px;
  margin-top: 10px;
  font-family: 'Marquette';
}

.navLink {
  cursor: pointer;
  margin: 0 8px;
  font-size: 15px;
  text-decoration: none;
  color: #eb4d4d;
}

.navLink:hover{
  color: black;
  /* font-weight: bold; */
}

main {
  margin: 0 5%;
}

.mainImgDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainImg {
  width: 90vw;
  height: auto;
  margin: 0 auto;
}

.mainContent {
  text-align: center;
  font-family: 'Detale';
  font-weight: 100;
  color: #eb4d4d;
}

.mainContent p:first-child {
  font-size: 30px;
  font-family: 'Sallina';
  margin: 5px 0;
}

.mainContent p {
  font-family: 'Marquette';
  font-size: 20px;
}

.computerLogo {
  text-align: center;
  margin: 5% 0 0 0;
}


.sticky {
  background-color: rgba(235, 77, 77, 0.57);
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  border: 0;
  z-index: 1;
  padding: 0 2.5%;
}

.changeColor{
  color: white;
  font-weight: bold;
}

.active{
  font-weight: bold;
  color: black;
}
/*# sourceMappingURL=styles.css.map */

@media (min-width: 375px){
  nav{
    margin-bottom: 2%;
  }
  .navLink{
    font-size: 18px;
  }
  .logo img{
    height: 35px;
  }

  .main{
    margin-top: 5%;
  }
}

@media (min-width: 410px){
  .navLink{
    font-size: 20px;
  }

  .mainContent{
    margin-top: 4%;
  }
  .mainContent p{
    font-size: 30px;
  }
}

@media (min-width: 550px){
  .logo img{
    height: 40px;
  }
  .navLink{
    font-size: 22px;
  }
  .mainContent p{
    font-size: 40px;
  }
  .mainContent p:first-child{
    font-size: 45px;
  }
}

@media (min-width: 750px){
  .logo img{
    height: 45px;
    margin-top: 15px;
  }
  nav{
    margin-top: 3%;
  }
  .navLink{
    font-size: 24px;
  }
  .mainImg{
    height: 80vh;
    width: auto;
  }
  .mainContent p{
    font-size: 40px;
  }
  .mainContent p:first-child{
    font-size: 45px;
  }
}

@media (min-width: 950px){
  .logo img{
    height: 45px;
    margin-top: 5px;
  }
  
  nav{
    margin: 1% 1% 0;
  }
  .navLink{
    font-size: 26px;
  }

  .mainImg{
    height: 80vh;
    width: auto;
  }
  .mainContent p{
    font-size: 50px;
  }
  .mainContent p:first-child{
    font-size: 55px;
  }
}





@media (min-width: 1100px){
  .mainImg {
    width: auto;
    height: 90vh;
  }
  .main{
    margin-top: 0;
  }
  .mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .mainContent p{
    font-size: 50px;
  }
  .mainContent p:first-child{
    font-size: 40px;
  }
 

  .main{
    display: flex;
    justify-content: space-around;

  }

}