*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    background: url("./IMAGES/Kinga\ zawarczyńska.png");
     background-size: cover;
    width: 1920px; 
    height:1080px;
}

.nav{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 0;
    font-size: 30px;
    font-weight: bold;
    border-bottom: rgb(206, 19, 75) 2px solid;
    color: rgb(206, 19, 75);
}

.nav a{
    text-decoration: none;
    color: rgb(206, 19, 75);


}

.logo{
    height: 60px;
    padding: 0 0 5px;
}

.logo img{
   
    height: 100%;
    width: auto;
}

.hamburger{
    display: flex; 
    padding: 5px 0 0 0;
    
}

.navLinks{
    padding: 0 10px;
}

