
.tech{
    font-family: 'Sallina';
    width: 80vw;
    margin: 2% 5% 15%;
    text-align: center;
    font-size: 16px;
}

.techStack{
    margin-top: 10%;
    font-family: 'Marquette';
text-align: center;
}

.technologies{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.technologies i{
    font-size: 26px;
    margin: 4% 0 1%;
    
}

.techDescription{
    font-family: 'Sallina';
    font-weight: 100;
    margin: 2% 2% 5%;
}

.iInner{
    margin: 3%;
    font-size: 12px;
    font-family: 'Sallina';
}

.mobileCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80vw;
  margin: 3%;
}


.flipCard {
  display: none;
    margin: 4%;
    background-color: transparent;
    width: 80vw;
    height: 15vh;
    perspective: 1000px;
  }
  
  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
  }
  
  .flipCardFront, .flipCardBack {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flipCardFront {
    background-color: transparent;
  }
  
  .flipCardBack {
    background-color: transparent;
    transform: rotateY(180deg);
  }

  @media (min-width: 375px){
    .tech{
      margin: 2% 5% 10%;
      font-size: 18px;
    }
    .techStack{
      font-size: 35px;
    }
    .techDescription{
      font-size: 18px;
    }
    .iInner{
      font-size: 14px;
      font-weight: 400;
    }

  }

  @media (min-width: 550px){
    .flipCard{
      display: block;
    }
    .mobileCard{
      display: none;
    }
    
  }