.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.card{
    margin: 5%;
    width: 75vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.cardImg{
    width: 70%;
    height: auto;
}
.projectsDescription{
    margin: 8%; 
}

.projects{
    font-family: 'Sallina';
    text-align: center;
    margin: 0 auto;
}

.cardInner{
    font-family: 'Sallina';
    font-size: 12px;
    margin: 2% 8% 10%;
    text-align: center;
}

.github{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (min-width: 375px){
   .cardInner{
       font-size: 16px;
   }
   .projects{
       font-size: 18px;
   }
  }

  @media (min-width: 550px){
    .cardImg{
        width: 50%;
    }
   }

   @media (min-width: 750px){
    .card{
        width: 35vw;
        height: 50vh;
    }
    .cardContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cardImg{
        width: 60%;
    }
    .projectsDescription{
        margin: 5% 5% 0;
    }
    .projects{
        font-size: 20px;
    }
   }