.wrapper{
    background: url("../IMAGES/back3.png")
}

.social-border{
    margin: 0 auto;
    height: 800px;
    width: 1600px;
    border: solid 5px rgb(206, 19, 75);
    text-align: center;
    margin-top: 68px;
    padding: 40px;
   
  
}
.social-links{
    display: flex;
    justify-content: space-around;
}

.social-links div{
    padding: 60px 30px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    
}

.social-links i{
    font-size: 80px;
}
