.about{
    margin: 2% 30% 0;
    height: 89vh;
    width: 40vw;
    text-align: center;
    color: rgb(204, 49, 80) ;
    font-size: 36px;
    border: 4px solid white;
    padding: 20px;
}

.title{
    font-size: 80px;
    font-family: sans-serif;
   

}

.aboutText{
    margin: 60px; 
}

.last {
    font-weight: bold;
    margin: 20px 20px 0 20px;
}

.aboutImg img{
    width: 100%;
    height: auto;
}